.xng-featured-menu {
    .featured-menu {
        margin: 30px -13px;

        &__content {
            padding: 20px;
            background: get-color("additional", "darker");
        }

        &__item {
            padding: 0 13px;
            width: 100%;
        }

        &__title {
            color: get-color("additional", "ultra");
            height: 22px;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
            text-transform: capitalize;
        }

        &__description {
            height: 68px;
            color: get-color("additional", "ultra");
            font-size: 12px;
            line-height: 17px;
            max-height: 68px;
            margin-bottom: 20px;
            -webkit-line-clamp: 3;
        }

        &__img {
            height: 90px;
            width: auto;
            max-width: 100%;
            border-radius: 2px;
        }

        &__img-wrap {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            .cms-typography & img {
                height: 90px;
            }
        }

        &__link.btn--link {
            @extend .btn--link;
        }


        &__link.featured-menu__link.featured-menu__link {
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            padding: 2px 15px;
        }
    }
}


@include breakpoint("tablet-small") {
    .featured-menu {
        &__item {
            padding: 0 8px;
        }
        &__grid {
            justify-content: center;
        }
    }
}
