{% block _content_widget_info_card_default_widget %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    <div class="xng-featured-menu">
        <div class="featured-menu__content" {% if card.background is defined %} style="background-color: {{ card.background }}" {% endif %}">
            <div class="featured-menu__img-wrap">
                {% if card.image is defined and card.image is not empty %}
                    <img height="90" src="{{ filtered_image_url(card.image, "original") }}" alt="{{ card.title }}" class="featured-menu__img img-fluid" >
                {% else %}
                    <svg width="90" height="90">
                        <rect width="90" height="90" fill="none"/>
                    </svg>
                {% endif %}
            </div>
            <h2 class="featured-menu__title">{{ card.title }}</h2>
            <div class="featured-menu__description">
                {% if card.description is defined and card.description is not empty %}
                    {{ card.description|raw }}
                {% endif %}
            </div>
            {% set linkAttributes = ({
                'class': 'btn ' ~ (card.ctaType == 0 ? 'btn--info' : 'btn--link') ~ ' btn--size-s featured-menu__link',
            }) %}
            <a href="{{ oro_commercemenu_get_url(card.ctaLink) }}"{{ oro_menu.attributes(linkAttributes) }}>
                {% if card.ctaText is defined and card.ctaText is not empty %}
                    {{ card.ctaText }}
                {% else %}
                    {{- 'oro.commercemenu.frontend.navigation.items.view.label'|trans ~ ' ' ~ card.title|upper -}}
                {% endif %}
            </a>
        </div>
    </div>
{% endblock %}
